.blog-news {
    .blog {
        height: 100% !important;
        padding: 5rem 0 !important;
        .time {
            padding-bottom: 1rem !important;
            margin-bottom: 1rem;
            border-bottom: none !important;
            span {
                font-weight: bold;
                display: block;
            }
            p {
                margin-bottom: 2rem;
                font-size: 20px;
                color: #8C8E90;
            }
            ul {
                padding: 0;
                margin: 1rem 0;
                li {
                    list-style: none;
                    margin-bottom: .5rem;
                    font-size: 18px;
                    color: #8C8E90;
                }
            }
        }
    }
}